<?xml version="1.0"?>
<config>
    <modules>
        <LCB_MailGet>
            <version>1.0.0</version>
        </LCB_MailGet>
    </modules>
    <global>
        <helpers>
            <mailget>
                <class>LCB_MailGet_Helper</class>
            </mailget>
        </helpers>
        <models>
            <mailget>
                <class>LCB_MailGet_Model</class>
            </mailget>
        </models>
        <events>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <mailget_newsletter_subscriber_save_commit_after_handler>
                        <type>model</type>
                        <class>mailget/observer</class>
                        <method>newsletterSubscribe</method>
                    </mailget_newsletter_subscriber_save_commit_after_handler>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <sales_order_place_after>
                <observers>
                    <mailget_sales_order_place_after_handler>
                        <type>model</type>
                        <class>mailget/observer</class>
                        <method>orderPlace</method>
                    </mailget_sales_order_place_after_handler>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config> 